/* font size class start */
.fs16 {
    font-size: 16px !important;
}
.fs20 {
    font-size: 20px !important;
}
/* font size class end*/

/* width design class start*/
.autowidth {
	width: auto;
}
.w3 {
	width: 3% !important;
}
.w17 {
	width: 17% !important;
}
.w20 {
	width: 20% !important;
}
.w23 {
	width: 23% !important;
}
.w25 {
	width: 25% !important;
}
.w30 {
	width: 30% !important;
}
.w37 {
	width: 37% !important;
}
.w40 {
	width: 40% !important;
}
.w41 {
	width: 41% !important;
}
.w43 {
	width: 43% !important;
}
.w52 {
	width: 52% !important;
}
.w54 {
	width: 54% !important;
}
.w56 {
	width: 56% !important;
}
.w60 {
	width: 60% !important;
}
.w70 {
	width: 70% !important;
}
.w95 {
	width: 95% !important;
}
.w96 {
	width: 96% !important;
}
/* width design class end*/

/* height class start */
.h34 {
	height: 34px !important;
}
/* height class end */

/* for setting mandatory star(*) symbol in form class start */
.required:after { 
	content:'*'; 
	color:red; 
	padding-left:5px;
}
/* for setting mandatory star(*) symbol in form class end */

/* display design class start */
.inb {
	display: inline-block !important;
}
/* display design class end */

/* error or validation message class start */
.error {
    display: inline-block;
    font-size: 13px;
    color: #9C0000;
    line-height: 0px !important;
}
/* error or validation message class end */

/* margin top class start */
.mt3 {
	margin-top: 3px !important;
}
/* margin top class end */

/* margin bottom class start */
.mb5 {
	margin-bottom: 5px !important;
}
.mb24 {
	margin-bottom: 24px !important;
}
/* margin bottom class end */

/* margin left class start */
.ml50 {
	margin-left: 50% !important;
}
/* margin left class end */

/* edit button class start */
.editBtn {
	height: 30px;
    font-size: 12px;
}
/* edit button class end */

/* vertical align class start */
.vat {
	vertical-align: top;
}
/* vertical align class end */

/* text align design class start */
.tac {
	text-align: center;
}
.vam {
	vertical-align: middle !important;
}
/* text align design class end */

/* dot between the two sub heading class start */
.dot{
    padding: 0 4px;
	font-size: 16px;
}
/* dot between the two sub heading class end */

/*add screen view color class start */
.addScrClr {
	color: #4a9976;
}
/*add screen view color class end */

/* edit screen view color class start */
.editScrClr {
	color: red;
}
/* edit screen view color class end */

/* history screen view color class start */
.historyScrClr {
	color: #0098fd;
}
/* history screen view color class end */

/* details screen view color class start */
.detailScrClr {
	color: #0098fd;
}
/* details screen view color class end */

/* no data found color class start */
.noDataFoundClr {
	color: red;
}
/* no data found color class end */

/* padding class start*/
.pr20 {
	padding-right: 20px !important;
}
/* padding class end*/

/* table design start */
/*setting table head background color and value center*/
.thead {
    text-align: center;
    background: #7daedf;
}
/*setting the background color for odd row*/
.odd {
    background: #ffffff ;
}

/*setting the background color for Even row*/
.even {
    background: #ddeeff;
}

/* setting the table position and font values class start */
.table-position {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}
/* setting the table position and font values class end */
/*table design end*/

/* search button class start */
.searchBtn {
    float: right;
    width: 27%;        
}
/* search button class end */

/* sorting arrow class start */
.CMN_sorting {
	width: 145px  !important;
	/*width: 125px  !important;*/
	/*height: 30px ! important;*/
	line-height: 14px !important;
	/*font-size: 12px !important;*/
	padding: 0px !important;
	padding-left: 10px !important; 
	background-repeat: no-repeat; 
	background-position:right;
	background-color: white !important;
	background-position: right; 
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important; 
}
.sort_asc {
	background-image:url(../images/upArrow.png) !important;
}
.sort_desc {
	background-image:url(../images/downArrow.png) !important;
}
/* sorting arrow class end */

/* teal color class start */
.teal {
	color: teal;
}
/* teal color class end */

/* apply button and link color class start */
.apply_btn {
    background: #4285f4;
}
.apply_link {
    color: #4285f4;
}
/* apply button and link color class end */

/* user name color class start */
.adminUserNameClr {
	color: #04B404;
}
.companyUserNameClr {
	color: #0000FF;
}
.jobSeekerUserNameClr {
	color: #AC4E00;
}
/* user name color class end */

/* name color class start */
.nameClr {
	color: #9C0000;
}
/* name color class end */